version: 1

formatters:
  precise:
    format: '%(asctime)s - %(name)s - %(lineno)d - %(levelname)s - %(request)s - %(message)s'

handlers:
  console:
    class: logging.StreamHandler
    formatter: precise
    level: "INFO"

  file:
    class: logging.handlers.RotatingFileHandler
    formatter: precise
    filename: /data/logs/synapse.log
    maxBytes: 104857600  # 100MB per log file
    backupCount: 10      # Keep up to 10 backup files
    level: "WARNING"

  buffer:
    class: synapse.logging.handlers.PeriodicallyFlushingMemoryHandler
    target: file
    capacity: 10
    flushLevel: 30  # Flush immediately for WARNING logs and higher
    period: 5

loggers:
  _placeholder:
    level: "INFO"

  synapse.storage.SQL:
    # beware: increasing this to DEBUG will make synapse log sensitive
    # information such as access tokens.
    level: "WARNING"

root:
  level: "INFO"
  handlers: [console, buffer]

disable_existing_loggers: false
